<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379766591589-k6n1s6osira86g0bnb21u7r3v2g2dma6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379766591589-k6n1s6osira86g0bnb21u7r3v2g2dma6</string>
	<key>API_KEY</key>
	<string>AIzaSyB4kN4kZ7l-PcFP7j75-Zbbl8t5_esbiFI</string>
	<key>GCM_SENDER_ID</key>
	<string>379766591589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psjmcneill.draftfutbol</string>
	<key>PROJECT_ID</key>
	<string>baguley-draft-e9ad3</string>
	<key>STORAGE_BUCKET</key>
	<string>baguley-draft-e9ad3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379766591589:ios:7a4b5072394c9ba0e7b68c</string>
</dict>
</plist>